footer 
	margin-bottom 5.5vw
	margin-top -15vw
	@media laptop
		margin-top 5.5vw
	a
		border-bottom 0px
		text-decoration none
	.social
		margin-top .5em
		display block
		a
			width 25px
			height 25px
			display block
			text-indent -9999px
			float left
			color #999
			margin-right 10px
			background-size cover
			background-repeat no-repeat
			background-position top left
			&:hover
				opacity .4
			&.facebook
				background-image url(_img/icon_facebook.svg)
			&.twitter
				background-image url(_img/icon_twitter.svg) 
			&.linkedin
				background-image url(_img/icon_linkedin.svg) 
	.bottomLine
		width 100%
		height 1px
		background black
		margin-bottom 11vw
		opacity 1
		@media laptop 
			height 1px
			margin-bottom 11vw
		.row:nth-child(1)
			@media phone
				padding-top 0px !important
		p a
			border none

.BackToTop
	width 100%
	font-family typeface-h3
	font-size .9rem
	padding 1rem .8rem
	border 1px solid
	transition all 200ms ease-out
	color white
	cursor pointer
	background black
	margin 2vw
	text-align center
	margin-bottom 11vw
	@media tablet
		display none