// CSS STUFF & FONTS

// @import "../../html/__fonts/fonts/CircularStdBold.css"
// @import "../../html/__fonts/fonts/GaramondNo4TLig.css"
// @import "../../html/__fonts/fonts/GaramondNo4TLig_Italic.css"

@font-face {
    font-family: 'CircularStdBold';
    src: url('_fonts/fonts/CircularStdBold.eot');
    src: url('_fonts/fonts/CircularStdBold.eot') format('embedded-opentype'),
         url('_fonts/fonts/CircularStdBold.woff2') format('woff2'),
         url('_fonts/fonts/CircularStdBold.woff') format('woff'),
         url('_fonts/fonts/CircularStdBold.ttf') format('truetype'),
         url('_fonts/fonts/CircularStdBold.svg#CircularStdBold') format('svg');
}

@font-face {
    font-family: 'CircularStdBook';
    src: url('_fonts/fonts/CircularStdBook.eot');
    src: url('_fonts/fonts/CircularStdBook.eot') format('embedded-opentype'),
         url('_fonts/fonts/CircularStdBook.woff2') format('woff2'),
         url('_fonts/fonts/CircularStdBook.woff') format('woff'),
         url('_fonts/fonts/CircularStdBook.ttf') format('truetype'),
         url('_fonts/fonts/CircularStdBook.svg#CircularStdBook') format('svg');
}


@font-face {
    font-family: 'GaramondNo4TLig';
    src: url('_fonts/fonts/GaramondNo4TLig.eot');
    src: url('_fonts/fonts/GaramondNo4TLig.eot') format('embedded-opentype'),
         url('_fonts/fonts/GaramondNo4TLig.woff2') format('woff2'),
         url('_fonts/fonts/GaramondNo4TLig.woff') format('woff'),
         url('_fonts/fonts/GaramondNo4TLig.ttf') format('truetype'),
         url('_fonts/fonts/GaramondNo4TLig.svg#GaramondNo4TLig') format('svg');
}

@font-face {
    font-family: 'GaramondNo4TLig_Italic';
    src: url('_fonts/fonts/GaramondNo4TLig_Italic.eot');
    src: url('_fonts/fonts/GaramondNo4TLig_Italic.eot') format('embedded-opentype'),
         url('_fonts/fonts/GaramondNo4TLig_Italic.woff2') format('woff2'),
         url('_fonts/fonts/GaramondNo4TLig_Italic.woff') format('woff'),
         url('_fonts/fonts/GaramondNo4TLig_Italic.ttf') format('truetype'),
         url('_fonts/fonts/GaramondNo4TLig_Italic.svg#GaramondNo4TLig_Italic') format('svg');
}

@import "../../bower_components/normalize.css/normalize.css"
@import "../../bower_components/flexboxgrid/css/flexboxgrid.css"
@import "_includes/fixes.css"

// STYLUS FILES

@import "vars.styl"
@import "type.styl"
@import "grid.styl"
@import "base.styl"
@import "nav.styl"
@import "photos.styl"
@import "donate.styl"
@import "footer.styl"
@import "guides.styl"

// FIXES

// @import "../_styles/_includes/fixes.css"

.mobile
	display block
	@media tablet
		display none
		
.desktop
	display none
	@media laptop
		display block
  

// .fpo 
//     background yellow      