.featphoto
	//display none
	position absolute
	position absolute
	z-index 0!important
	top -2%
	height 92%
	max-height 780px
	width 60%
	background-size 150%
	background-position-x -50
	-webkit-animation-delay 1.2s
	background-size cover
	opacity 0
	@media laptop
		display block
		
		// display none
	
.home
	.featphoto
		background-image url(_img/featphoto_home.jpg)
	.featphoto
		right 0!important
		background-size 100%
		background-position-x 0
		background-repeat no-repeat
		height 94vw
		width 65vw
		background-position 69% 100%
		background-size cover
		@media laptop
			height 44vw
			width 63vw
			background-position-x 50%
			background-size cover
		&:nth-child(2)
			//display none
			top 85.7vw
			width 65vw
			left 0px
			height 65vw
			right none
			z-index 0
			background-color grey
			background-position center 27%
			background-image url(_img/featphoto_home_2.jpg)
			background-size 150%
			@media laptop
				display block
				top 65.7vw
				width 40vw
				left 0px
				height 40vw
		&:nth-child(3)
			display none
			right none
			z-index 0
			top -10000vw
			background-color grey
			background-position bottom center
			background-image url(_img/featphoto_home_3.jpg)
			background-size cover
			@media laptop
				display block
				top 128vw
				width 36vw
				right 0px
				height 36vw

			
		
		
.volunteer
	.featphoto
		background-image url(_img/featphoto_volunteer.jpg)
	.featphoto
		left 0!important
		background-size 100%
		background-position-x 0
		background-repeat no-repeat
		width 73vw
		height 104vw
		background-size cover
		background-position 35% 140%
		@media laptop	
			height 48vw
			width 70vw
			background-size 129%
			background-position 0 55%
	.heading
		background-position 73% 100%
		background-size 210%
		
.services
	.featphoto
		background-image url(_img/featphoto_services.jpg)
	.featphoto
		top 0
		left 0
		width 93vw
		height 73vw
		background-position 60% 51%
		background-size 139%
		@media laptop
			height 46vw
			width 70vw
			background-size 110%
	.heading
		background-position 73% 100%
		background-size 175%

.team
	.featphoto
		background-image url(_img/featphoto_team.jpg)
	.featphoto
		right 0 !important
		background-size 100%
		background-position-x 0
		background-repeat no-repeat
		height 55vw
		width 63vw
		background-position left bottom	
		background-size 180%
		top 5.5vw
		@media laptop
			height 43vw
			width 70vw
			top 0px
			background-position left bottom	
			background-size 150%
	.heading
		background-position 73% 100%
		background-size 210%
		
.values
	.featphoto
		background-image url(_img/featphoto_values.jpg)
		right 0 !important
		background-size 100%
		background-position-x 0
		background-repeat no-repeat
		height 33vw
		background-size cover
		width 65vw
		background-position right bottom	
		
.heading
	@media laptop
		background-image none !important
		
.blog.detail
	.featphoto
		right 0px
		height: 43.5vw;
		width: 47vw;
		display none

.events.detail
	.featphoto
		right 0px
		height: 33.5vw;
		width: 47vw;
		display none


img.offset
	width 211%
	margin-top -16%
	margin-left -108%


// .featphoto
// 	display none
// 	opacity 0

