{% extends "charge/_layout" %}
{% set selectedSubnavItem = 'coupons' %}

{% set title %}
	Coupons
{% endset %}


{% block content %}

	<div id="nocoupons"{% if coupons %} class="hidden"{% endif %}>
		<p>{{ "No coupons exist yet."|t }}</p>
	</div>

	{% if coupons|length %}
		<table id="coupons" class="data collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				<th scope="col">{{ "Code"|t }}</th>
				<th scope="col">{{ "Type"|t }}</th>
				<th scope="col">{{ "Valid On"|t }}</th>
			{#--	<th scope="col">{{ "Usage"|t }}</th>
				<th scope="col">{{ "Used Count"|t }}</th> --#}
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for coupon in coupons %}
					<tr data-id="{{ coupon.id }}" data-name="{{ coupon.name|t }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('charge/coupons/' ~ coupon.id) }}">{{ coupon.name|t }}</a></th>
						<td data-title="{{ 'Code'|t }}"><code>{{ coupon.code }}</code></td>
						<td data-title="{{ 'Type'|t }}">
							{%- if coupon.couponType == 'percentage' %}
								{{ coupon.percentageOff }}% off
							{% else %}
								{{ (coupon.amountOff / 100)|number_format(2, '.', '') }} {{ coupon.currency }}
							{% endif %} </td>
					{#--	<td data-title="{{ 'Usage'|t }}">{{ 'Unlimited'|t }}</td>
						<td data-title="{{ 'Customers'|t }}">14 <a href="#">(view)</a></td> --#}
						<td data-title="{{ "Valid On"|t }}">
							{%- if coupon.paymentType == 'all' %}
								{{ 'All Payments'|t }}
							{% elseif coupon.paymentType == 'recurring' %}
								{{ 'Recurring'|t }}
							{% else %}
								{{ 'One-Off'|t }}
							{% endif %}
						</td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div id="n" class="buttons">
		<a href="{{ url('charge/coupons/new') }}" class="btn submit add icon">{{ "New Coupon"|t }}</a>
	</div>
{% endblock %}


{% set js %}
	new Craft.AdminTable({
		tableSelector: '#coupons',
		noObjectsSelector: '#nocoupons',
		deleteAction: 'charge/coupon/deleteCoupon'
	});
{% endset %}
{% includeJs js %}

