{% extends "layout.html" %}

{% block content %}

{% set allEntries = craft.entries.section('needs').limit(null) %}

<section class="needs">

	<div class="row heading">
	  <div class="col-xs-12">
	    <div class="line"></div>
			<h1>Needs</h1>
		</div>
	</div>


	{% for date, entries in allEntries | group("postDate|date('F Y')") %}
		{% for entry in entries %}
			<div class="row NeedsItem">
				<div class="column col-xs-12 col-md-6">
					<h3>{{ entry.title }}</h3>
					
					{{ entry.overview|markdown }}

					<p>Contact: {{ entry.contactName}} at <a href="mailto:{{ entry.contactEmail}}">{{ entry.contactEmail}}</a></p>

					
				</div>
				<div class="column col-xs-12 col-md-6 NeedsContents">
					<h3>&nbsp;</h3>
					<p>Contents:</p><br>
					{{ entry.inventory|markdown }}
				</div>
				<div class="BreakLine"></div>
			</div>
		{% endfor %}
	{% endfor %}

</section>

{% endblock %}
