{% extends "layout.html" %}
{% block content %}
{% set allEntries = craft.entries.section('events').limit(50) %}
<section class="events index">
	<div class="row heading">
	  	<div class="column col-xs-12">
	    	<div class="line"></div>
			<h1>Events</h1>
		</div>
	</div>
	{% for date, entries in allEntries | group("postDate|date('F d, Y')") %}
		{% for entry in entries %}
			<div class="row linked stacked EventsItem">
				<div class="column post col-xs-12 col-md-3">
					<h2 ><a href="{{ entry.getUrl() }}">{{ entry.title }}</a></h2>
				</div>
				<div class="column post col-xs-12 col-md-3">
					
					<p>{{ entry.eventDate|date('F d, Y') }}<Br>{{ entry.location }}</p>
					<p>{{ entry.excerpt }}</p>
					<p class="underlined"><a href="{{ entry.getUrl() }}" >Learn More</a></p>
				</div>
				<div class="column post col-xs-12 col-md-6">
					<div class="EventsThumbnail" style="background-image: url({% set image = entry.thumbnail.first() %}
						{% if image %}
						    {{ image.getUrl() }}
						{% endif %})">
					</div>
				</div>
				
				<div class="BreakLine"></div>
			</div>
		{% endfor %}
	{% endfor %}
</section>
{% endblock %}
