{% extends "layout.html" %}

{% block content %}

<section class="jobs detail">

	<div class="row heading">
		<div class="column col-xs-8">
			<div class="line"></div>
			<p class="underlined BlogBack"><a href="{{ siteUrl }}jobs">Back to Jobs</a></p>
			<h2>{{ entry.title }}</h2>


			{% for block in entry.body %}
				{% if block.type == "text" %}
					{{ block.text|markdown }}
				{% elseif block.type == "image" %}
					{% set image = block.image.first() %}
			        {% if image %}
			            <img src="{{ image.getUrl('thumb') }}" width="{{ image.getWidth('thumb') }}" height="{{ image.getHeight('thumb') }}" alt="{{ image.title }}">
			        {% endif %}
				{% endif %}
			{% endfor %}

			<p><a class="cta" href="mailto:apply@iwantrest.com" title="">Apply Now</a></p>

		</div>
	</div>
	
</section>

{% endblock %}
