{% extends "layout.html" %}
{% block content %}
{% set allEntries = craft.entries.section('jobs').limit(null) %}
<section class="jobs">
	<div class="row heading">
	  <div class="col-xs-12">
	    <div class="line"></div>
			<h1>Jobs</h1>
		</div>
	</div>
	<div class="row JobsItem">
	{% for date, entries in allEntries | group("postDate|date('F Y')") %}
		
			{% for entry in entries %}
				<div class="column post col-xs-12 col-md-6 linked ">
					<h2><a href="{{ entry.getUrl() }}">{{ entry.title }}</a></h2>
					<p>{{ entry.excerpt }}</p>
					<p class="underlined fpo"><a href="{{ entry.getUrl() }}">Learn More</a></p>
				</div>	
				<div class="BreakLine"></div>		
			{% endfor %}
		
	{% endfor %}
	</div>		
	<!-- <div class="row">
		<div class="column col-xs-12 col-md-8">
			<p class="small">REST is an equal opportunity employer and will not discriminate against any employee or applicant on the basis of age, color, disability, gender, national origin, race, religion, sexual orientation, veteran status, or any classification protected by federal, state, or local law.</p>
		</div>
	</div> -->
</section>
{% endblock %}
