{% extends "layout.html" %}

{% block seo %}
	<title>REST | {{ entry.title }}</title>
	<meta property="og:title" content="{{ entry.title }}">
	<meta property="og:image" content=""/>
	<meta property="og:url" content="{{ entry.url }}"/>
	{% for block in entry.body %}
		{% if block.type == "text" %}
			<meta property="og:description" content="{{ block.text|markdown|trimit(200) }}" />
		{% endif %}
	{% endfor %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@iwantrest">
{% endblock %}



{% block content %}

<section class="blog detail">

	<!-- <div class="featphoto" style="background-image: url(http://cdn2.dropmark.com/39456/a7cc7cd78315f3979f6ba075c4e97243a9376add/Screen%20Shot%202015-04-24%20at%2011.06.53%20PM.png)">
	</div> -->

	<div class="row heading ">
		<div class="column col-xs-12 col-md-4">
			<div class="line"></div>
			<p class="underlined BlogBack"><a href="{{ siteUrl }}blog">Back to Blog</a></p>
		</div>
		<div class="column col-xs-12 col-md-8 BlogContainer">
			<h2><a href="{{ entry.getUrl() }}">{{ entry.title }}</a></h2>
			<div class="BlogMeta">
				<div class="BlogAuthorImage" style="background-image: url({{ entry.author.photoUrl() }})"></div>
				<p class="small">Written by {{entry.author.name}} <Br class="mobile">on {{ entry.postDate|date('F d, Y') }} </p>
			</div>
			{% for block in entry.body %}
				{% if block.type == "text" %}
					{{ block.text|markdown }}
				{% elseif block.type == "image" %}
					{% set image = block.theImage.first() %}
						{% set thumb = {
							width: 800,
							height: 600
						} %}
		        {% if image | length %}
	            <img src="{{ image.getUrl(thumb) }}" width="{{ image.getWidth(thumb) }}" height="{{ image.getHeight(thumb) }}" alt="{{ image.title }}">
		        {% endif %}
				{% endif %}
			{% endfor %}

			

			<div class="social">
				<br><br><p></p>
				<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				<div class="fb-share-button" data-href="{{ entry.url }}" data-layout="button_count"></div>
			</div>

			<!-- <p class="underlined back"><a href="http://iwantrest.com/blog">Back to Blog</a></p> -->
		</div>
	</div>
	<!-- <div class="row">
		<div class="column col-xs-9">
			<div class="blogAuthorInfo">
				{% if entry.author.photoUrl('original') %}
				<div class="image large">
					<img src="{{ entry.author.photoUrl('original') }}">
				</div>
				{% endif %}
				<div class="details">
					<h3>{{ entry.author }}</h3>
					{% if entry.author.bio %}
						<p>{{ entry.author.bio }}</p>
					{% endif %}
					<p>-</p>
					{% if entry.author.twitter %}
					<p><a target="_blank" href="http://twitter.com/{{ entry.author.twitter }}">@{{ entry.author.twitter }}</a>
					{% endif %}
					{% if entry.author.facebook %}
					<p><a target="_blank" href="http://twitter.com/{{ entry.author.facebook }}">@{{ entry.author.facebook }}</a></p>
					{% endif %}
				</div>

			</div>
		</div>
	</div> -->

</section>

<section class="DonationCTA">
	<div class="row">
		<div class="column col-xs-12 col-md-5 col-md-offset-5">
			<h2>Would you give rest?</h2>
			<p>REST was founded in 2009 to build pathways of freedom, safety and hope for those exploited by the sex trade in the Seattle region. A huge part of our annual funding comes from individuals like you, who make our work possible through generous giving. Please consider a donation today.</p>
			<h3><a class="cta inverted" href="/donate">Donate Now</a></h3>
		</div>
	</div>
</section>

<style>

.bottomLine {display:none;}

</style>

{% endblock %}
