{% extends "layout.html" %}
{% block content %}
<section class="blog index">
	<div class="row heading">
	  	<div class="column col-xs-12 col-md-4">
	    	<div class="line"></div>
			<h1>Blog</h1>
		</div>
		<div class="column col-xs-12 col-md-8 BlogContainer">
		<div class="row BlogItem" id="repeatme" >
		{% paginate craft.entries.section('blog').limit(10) as entries %}
			
		{% for entry in entries %}
			<div class="column post col-xs-12 linked BlogIndexItem">
				<h2><a href="{{ entry.getUrl() }}">{{ entry.title }}</a></h2>
				<div class="BlogMeta">
					{% if entry.author.photoUrl() %}
						<div class="BlogAuthorImage" style="background-image: url({{ entry.author.photoUrl() }})"></div>
					{% endif %}
					<p class="small">Written by {{entry.author.name}} <Br class="mobile">on {{ entry.postDate|date('F d, Y') }}</p>
				</div>
				{% for block in entry.body.limit(1) %}
					<p>{{ block.text|markdown|trimit(300) }}</p>
				{% endfor %}
				<p class="underlined"><a href="{{ entry.getUrl() }}">Read More</a></p>
			</div>
			<div class="BreakLine"></div>
		{% endfor %}

		{% if paginate.prevUrl %}
	        <a href="{{ paginate.prevUrl }}">Newer Entries</a>
	    {% endif %}

	    {% if paginate.nextUrl %}
	        <a href="{{ paginate.nextUrl }}">Older Entries</a>
	    {% endif %}
				
	{% endpaginate %}
	</div>
</section>
{% endblock %}
