<!-- <!DOCTYPE html>

<html>
<head>

  {% block seo %}
     <title>REST — Real Escape from the Sex Trade</title>
  {% endblock %}

  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
  <meta property="og:site_name" content="REST – Real Escape from the Sex Trade"/>
  <meta property="og:type" content="website"/>
  
  <link rel="apple-touch-icon" sizes="57x57" href="/_icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/_icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/_icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/_icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/_icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/_icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/_icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/_icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/_icons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/_icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/_icons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/_icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/_icons/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="manifest" href="/_icons/manifest.json">
  <link rel="mask-icon" href="/_icons/safari-pinned-tab.svg" color="#333333">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/_icons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href="/master.css" rel="stylesheet">
	
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="aguide"></div>
<div class="aguide"></div>
<div class="aguide"></div>
<div class="aguide"></div>

<header>
	<div class="logo linked"><a href="/">...</a></div>
	<div id="thing" class="menuHit">
		<h3>MENU</h3>
		<div class="menuBtn">
			<div class="hamburger"><svg x='0px' y='0px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'><rect class='outer' width='50' height='7'/><rect class='outer' y='40' width='50' height='7'/><rect class='middle' y='20.5' width='50' height='7'/><rect class='middle second' y='20.5' width='50' height='7'/></svg>
			</div>
	    </div>
	</div>
</header>

<nav class="miniMenu hidden scrollable">
  <ul>	
 		<li><a href="/" id="volunteer">Home</a></li>
 		<li><a href="/volunteer" id="volunteer">Volunteer</a></li>
		<li><a href="/services" id="services">Services</a></li>
		<li><a href="/about" id="team">About</a></li>
		<li><a href="/events" id="events">Events</a></li>
		<li><a href="/blog" id="blog">Blog</a></li>
  </ul>
</nav>

<nav class="fullMenu">
  <ul>	
 		<li><a href="/volunteer" id="volunteer">Volunteer</a></li>
		<li><a href="/services" id="services">Services</a></li>
		<li><a href="/events" id="events">Events</a></li>
		<li><a href="/about" id="team">About</a></li>
		<li><a href="/blog" id="blog">Blog</a></li>
		<li><a class="cta" href="/donate">Donate</a></li>
  </ul>
</nav>

{% block content %}
{% endblock %}


<footer>

  <div class="row">

    <div class="col-xs-12">
      <div class="bottomLine"></div>
    </div>

    <div class="column col-xs-12 col-md-4">
      <h3>About Us</h3>
      <p>Real Escape from the Sex Trade (REST) was founded in 2009 to build pathways of freedom, safety and hope for those exploited by the sex trade in the Seattle region.</p>
    </div>

  

    <div class="column col-xs-12 col-md-4">
      <h3>Emergency Hotline</h3>

      <p>If you are involved in the sex trade and would like to talk to someone, please call our 24-hour hotline:<br>
      —<br>
      <a class="number" href="tel:2064517378">206-451-REST (7378)</a></p>
    </div>

    <div class="column col-xs-12 col-md-4">
      <h3>Contact Us</h3>

      <p><a href="mailto:info@iwantrest.com">info@iwantrest.com</a><br>
      425-395-4691<br>
      —<br>
      4215 Rainier Avenue S. <br>Seattle, Washington 98118<!-- , WA 98109 -->
      <br>
      <!-- —<br> -->
       <!--  <span class="social"><a class="facebook" href="http://fb.com/wewantrest" target="_blank">Facebook</a> <a class="twitter" href="http://twitter.com/iwantrest" target="_blank">Twitter</a> <a class="linkedin" href="https://www.linkedin.com/company/real-escape-from-the-sex-trade" target="_blank">Linkedin</a></span> -->
      </p>


    </div>
  </div>

  <div class="row copyright">
    <div class="col-xs-12">
      <p class="small">
        <a href="{{ siteUrl }}jobs">Jobs</a> &nbsp;|&nbsp; 
        <a href="{{ siteUrl }}needs">Needs</a> &nbsp;|&nbsp; 
        <!-- <a href="{{ siteUrl }}resources">Resources</a> &nbsp;|&nbsp;  -->
        <span>&copy; 2015</span> Real Escape from the Sex Trade. <!-- &nbsp;&nbsp; | &nbsp;&nbsp; 501c3, Washington State Charitable Nonprofit Organization --></p>
        <br><br><br>
        <p><a href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badge.png" alt="Heap - iOS and Web Analytics" /></a></p>
    </div>

  </div>
</footer>
  
  {% block jssrc %}

  {% endblock %}

  <script src="/master.js"></script>


</body>

</html> -->