{% extends "layout.html" %}

{% block content %}

<section class="team">

	<div class="featphoto"></div>

	<div class="row heading">
	  <div class="col-xs-12">
	    <div class="line"></div>
			<h1>We exist to bring freedom, safety, & hope.</h1>
		</div>
	</div>

	<div class="row followup">
		<!-- <div class="col-xs-12 col-md-6">
			<h3>Our Story</h3>
			<p>Real Escape from the Sex Trade (REST) is an independent 501c3, Washington State Charitable Nonprofit Organization. REST was founded in November 2009 by a small team of women with experience dealing with...</p>
			<p class="underlined"><a href="{{ siteUrl }}story">Read more</a></p>
		</div>
		<div class="col-xs-12 col-md-6">
			
		</div> -->
		<div class="column col-xs-12 col-md-8 col-md-offset-4">
			<h3>Our Story</h3>
				<p>REST: Real Escape from the Sex Trade is an independent 501c3, Washington State Charitable Nonprofit Organization. REST was founded in November 2009 by a small team of women with experience dealing with troubled youth and sexual abuse issues, and other members of the team with backgrounds in wraparound services and case management to develop relationships with people being commercially sexually exploited (trafficked), or otherwise engaged in the sex trade or are at risk to enter. Our goal was to help them find a path to freedom. REST initiated services with three direct outreach teams: Street Outreach, Strip Club Outreach and Bikini Barista Stand (bikini barista stands are coffee stands that employ girls to wear lingerie or less) Outreach.</p>
				<p class="underlined"><a href="{{ siteUrl }}story">Read more</a></p>
		</div>

	</div>

	<div class="row">
		<div class="column col-xs-12">
			<h2>Leadership</h2>
		</div>
	</div>

	<div class="row">
		<div class="column col-xs-12 col-md-4 teamMember">
	      		<div class="portrait" id="portrait" style="background-image: url(http://stopbuyinggirls.com/templates/default_site/_img/rest_staff_amanda.jpg)"></div>
   

    		<div class="deets">
				<h3>Amanda Hightower</h3>
      			<p class="team_title">Executive Director</p>
				<p>Loved by Jesus, our greatest Advocate, Amanda is both pioneer and counselor at heart. She holds an MSW from the University of Washington and envisions a community free of exploitation.</p>
				<p class="small"><a class="email" href="mailto:amanda@iwantrest.com">amanda@iwantrest.com</a> <!-- &nbsp;/&nbsp; <a class="email" href="http://twitter.com/_4manda_" target="_blank">@_4manda_</a> --></p>
   			</div>
		</div>
		<div class="column col-xs-12 col-md-4 teamMember">
	      		<div class="portrait" id="portrait" style="background-image: url(http://stopbuyinggirls.com/templates/default_site/_img/rest_staff_bridget.jpg)"></div>

    		<div class="deets">
				<h3>Bridget Battistoni</h3>
      			<p class="team_title">Director of Operations & Finance</p>
				<p>Compelled by the love of Jesus, Bridget excels at envisioning, engineering and general chaos-wrangling. Dreams of a world free from exploitation. Leader. Writer. Counselor. Builder.</p>
				<p class="small"><a class="email" href="mailto:bridget@iwantrest.com">bridget@iwantrest.com</a> &nbsp;/&nbsp; <a class="email" href="http://twitter.com/bridgetbatt" target="_blank">@bridgetbatt</a></p>

   			</div>
		</div>
		<div class="column col-xs-12 col-md-4 teamMember">
	      		<div class="portrait" id="portrait" style="background-image: url(http://stopbuyinggirls.com/templates/default_site/_img/rest_staff_edward.jpg)"></div>

    		<div class="deets">
				<h3>Edward Sumner</h3>
      			<p class="team_title">Director of Development</p>
				<p>Follower of Jesus. Sex-trafficking abolitionist. Compelled by a restorative Kingdom vision, Edward is a passionate advocate for the least of these. Inspiring champions to join the fight.</p>
				<p class="small"><a class="email" href="mailto:edward@iwantrest.com">edward@iwantrest.com</a> &nbsp;/&nbsp; <a class="email" href="http://twitter.com/@edwardsumner" target="_blank">@edwardsumner</a></p>
   			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h2>Our Values</h2>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-2">
			<p>Our values are our attempt to articulate our identity, and to define the manner in which we approach our work. Our values are about how we view all people, in particular, our clients, and our motivation for why we do what we do.</p>

		</div>
	</div>

	<div class="row">
<!-- 		<div class="col-xs-12">
			<div class="row"> -->
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>One:One Over Many</h3>
					<p>There are many ways to join anti-human trafficking efforts, such as through awareness, education, legislation, etc. Though these efforts are necessary and vital, today, people are suffering the consequences of sexual exploitation and addiction who need hope for real and lasting change. Therefore, we bring care to the individual through direct one-to-one contact.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>Arduous Over Effortless</h3>
					<p>Due to the nature of our approach, we know this is a long- suffering and painful work. We know not all people are called to this approach, but we are certain this is our purpose. We meet clients where they are and walk with them to the end. Relationships are hard work, but the highlights of joy throughout outweigh the suffering found within.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>People Over Cause</h3>
					<p>We do not fight for a cause or an ideology. Though we have an ideology and are a part of a cause, it’s not why we’re here. We exist to serve suffering people who experience complex emotions. They are people of great value.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>Persons Over People</h3>
					<p>In a more nuanced sense, we serve individuals. We get to know them by name and spend time with each one. We learn about their hopes and dreams. This is not a factory and they are not products on an assembly line. We care for each one according to their individualized need.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>Helpers Over Heroes</h3>
					<p>The narrative surrounding the sex trade is often one of villains and heroes. The heroes are rescuers, and the villains are the traffickers and johns. We’ve learned it’s not that black and white. We are not rescuers. We are not better or more valuable than those we serve.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>Holistic Over Piecemeal</h3>
					<p>We’re in this till the end. As far as they are willing to walk, we will be with them. We don’t just want clients physically out of the sex trade; we want them to be whole, free from fears and filled with hope and dreams.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>Women & Men</h3>
					<p>We serve both men and women. Those enslaved in the sex trade include those being exploited for sex, those soliciting commercial sex, and those profiting off the commercial exploitation of others. Like us, they are not all without fault, and some are more guilty than others, but they all need redemption.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>For Our Joy & His Glory</h3>
					<p>Our chief end is His glory and the joy of those serving and those being served.</p>
				</div>
<!-- 			</div>
		</div> -->
	</div>

</section>



{% endblock %}
