{% extends "layout.html" %}

{% block content %}


{% set hash = craft.request.getSegment(3) %}

{% if charge is not defined %}
	{% set charge = craft.charge.charges.hash(hash).first() %}
{% endif %}  

{% if charge is defined %}

<div class="DonateConfirmation {% if message == 'Thank you for your donation.' %}open{% endif %}">
  <div>
    <h2>Thank you for your support.</h2>
    <div class="line"></div>
    <p>Your donation of {{ charge.formatPlanAmount() }} has been processed successfully. <br><br>We just sent you a receipt to <span class="DonateConfirmationEmail">{{ charge.customerEmail }}</span>. If you'd like to change a recurring donation, you can do so at any time by emailing info@iwantrest.com.</p>
    <a id="" class="cta inverted" href="/">Back to home</a>
  </div>
</div>

{% endif %}


{% endblock %}
