{% extends "layout.html" %}

{% block content %}

    <section class="donate">

        <div class="row heading">
            <div class="column col-xs-12">
                <div class="line"></div>
                <h1>Give rest.</h1>
            </div>
        </div>

        <div class="row">
            <div class="column col-xs-12 col-md-6">

                <form class="DonateForm" action="" method="post" id="payment-form">

                    <input type="hidden" name="action" value="charge/charge">
                    <input type="hidden" name="redirect" value="donate/thankyou">

                    <input type="hidden" name="planIntervalCount" value="0" id="planIntervalCount">

                    <div id="publishable" data-key="{{ craft.charge.getPublicKey() }}"></div>

                    {% macro errorList(errors) %}
                        {% if errors %}
                            <div class="alert alert-warning">
                                {% for error in errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endmacro %}

                    {% if charge is defined %}
                        {{ _self.errorList(charge.getErrors('general')) }}
                    {% endif %}

                    <div id="payment-errors" class="alert alert-error"></div>

                    <div class="form-row">
                        <div class="AmountField">
                            <span>$</span>
                            <input class="DonateAmount" size="20" value="40" name="planAmount" id="planAmount" type="number" pattern="[0-9]*"/>
                            <span>USD</span>
                        </div>
                    </div>

                    <div class="DonateRecurring">
                        <div class="DonateRecurringItem" id="DonateRecurringOnce">
                            <input class="DonateCheckbox DonateOnce" name="planInterval" value="" type="radio" checked />
                            <p>One-time</p>
                        </div>
                        <div class="DonateRecurringItem Monthly" id="DonateRecurringMonthly">
                            <input class="DonateCheckbox DonateMonthly" name="planInterval" value="month" type="radio" id="planInterval" />
                            <p>Monthly</p>
                        </div>
                        <div class="DonateRecurringWarning">
                            <p>Monthly gifts will repeat every month on today’s calendar date, until you choose to cancel the gift. You can do so any time by clicking the link at the bottom of your emailed donation receipt.</p>
                        </div>
                    </div>

                    <div class="DonateCard">

                        {% if charge is defined and charge.cardToken is not null %}
                            <input type="hidden" name="cardToken" value="{{ charge.cardToken }}" data-stripe="token"/>
                            <input type="hidden" name="cardLast4" value="{{ charge.cardLast4 }}"/>
                            <input type="hidden" name="cardType" value="{{ charge.cardType }}"/>

                            <p>We have card details.</p>
                            <p>Card Last 4 : {{ charge.cardLast4 }}</p>

                        {% else %}

                        <div>
                            <label>Card Number</label>
                            <input class="autotab DonateInput DonateCardNumber rqrd" size="16" data-stripe="number" type="tel" pattern="[0-9]*" maxlength="16"/>
                        </div>
                        <label>Expiration Date & CVC</label>
                        <div class="DonateExpMonth">
                            <input class="autotab exp-month rqrd" size="2" data-stripe="exp_month" placeholder="00" type="tel" pattern="[0-9]*" maxlength="2"/>
                            <span>/</span>
                        </div>
                        <div class="DonateExpYear">
                            <input class="autotab exp-year rqrd" size="4" data-stripe="exp_year" placeholder="0000" type="tel" pattern="[0-9]*" maxlength="4"/>
                        </div>
                        <input class="autotab DonateInput DonateCVC rqrd" size="4" data-stripe="cvc" placeholder="000" type="tel" pattern="[0-9]*" maxlength="3"/>

                        {% endif %}

                    </div>

                    <div>
                        <label>Name <span>(Required)</span></label>
                        <input class="DonateInput DonateName" name="customerName" type="text"/>
                        {% if charge is defined %}
                            {{ _self.errorList(charge.getErrors('customerName')) }}
                        {% endif %}
                    </div>

                    <div>
                        <label>Email <span>(Required)</span></label>
                        <input class="DonateInput DonateEmail" name="customerEmail" value="{% if charge is defined %}{{ charge.customerEmail }}{% endif %}" type="email"/>
                        {% if charge is defined %}
                            {{ _self.errorList(charge.getErrors('customerEmail')) }}
                        {% endif %}
                    </div>

                    <button class="DonateSubmit" type="submit">Give $40</button>
                    <br><br>
                    <p class="small">Secure Payment via Stripe™</p>

                </form>

            </div>

            <div class="column col-xs-12 col-md-5 col-md-offset-1">
                <h2>The most out of<br class="mobile"> the least.</h2>
                <p>Your money works hard at REST. We’re deeply committed to financial transparency, sound fiscal policies and practices, and thoughtful allocation of the generous resources entrusted to our care. In fact REST has been recognized by the Seattle Met Magazine as the <a href="http://www.seattlemet.com/articles/2013/10/25/light-a-fire-awards-2013" target="_blank">#1 nonprofit in Seattle</a> “Making the Most Out of the Least” amount of resources. </p>
                <p>If you're interested in digging into our finances, check out this year's <a href="/_img/REST_AnnualReport2015.pdf" download="REST_AnnualReport2015.pdf">Annual Report</a> or our <a target="_blank" href="https://projects.propublica.org/nonprofits/organizations/453531020">public tax documents</a> since our 501c3 status in 2011.</p>
            </div>
        </div>
    </div>

</section>

<!-- <div class="DonateConfirmation {% if message == 'Thank you for your donation.' %}open{% endif %}">
  <div>
    <h2>Thank you for your support.</h2>
    <div class="line"></div>
    <p>Your donation of ${{ donation_amount }} has been submitted. <br>We just sent you a receipt to <span class="DonateConfirmationEmail">{{ receipt_email }}</span>. If you'd like to change a recurring donation, you can do so at any time by emailing info@iwantrest.com.</p>
    <a id="" class="cta inverted" href="/">Back to home</a>
  </div>
</div> -->

{% endblock %}
