{% extends "layout.html" %}

{% block content %}

<section class="services">

	<div class="featphoto"></div>

	<div class="row heading">
	  <div class="col-xs-12">
	    <div class="line"></div>
			<h1>A holistic, end-to-end approach against the sex trade.</h1>
		</div>
	</div>

	<div class="row followup">
		<!-- <div class="column col-xs-12 col-md-6">
			<p>Human trafficking is modern-day slavery and the fastest-growing criminal industry in the world. It is the recruitment of people by means of threat, force, coercion or deception for the purpose of exploitation. Sex trafficking is one of the most profitable forms of trafficking and involves many kinds of sexual exploitation, such as prostitution, pornography and the commercial sexual abuse of children.</p>
		</div>
		<div class="column col-xs-12 col-md-6">
			<p>This isn't only a 3rd world nations problem, it also takes place within U.S. borders. REST serves girls and young women through direct contact services. We reach them where they're at and offer trauma-informed services where clients receive support and resources such as counseling and wraparound services.</p>
		</div> -->
		<div class="column col-xs-12 col-md-7 col-md-offset-3">
			<p>Human trafficking is modern-day slavery and the fastest-growing criminal industry in the world. It is the recruitment of people by means of threat, force, coercion or deception for the purpose of exploitation. Sex trafficking is one of the most profitable forms of trafficking and involves many kinds of sexual exploitation, such as prostitution, pornography and the commercial sexual abuse of children.</p>
			<p>This isn't only a 3rd world nations problem, it also takes place within U.S. borders. REST serves girls and young women through direct contact services. We reach them where they're at and offer trauma-informed services where clients receive support and resources such as counseling and wraparound services.</p>
		</div>
	</div>

	<div class="row">
		<div class="column col-xs-12 col-md-6 ">
			<h2>Women & Girls</h2>
		</div>
	</div>

	<div class="row">
		<div class="column col-xs-12 col-md-4">
			<h3>Prevention</h3>
			<p>Prevention teams serve those under 18 who are at-risk for entering prostitution. Though many have already been sexually exploited, the goal is to prevent further harm and give them access to resources that will contribute to their success. We also offer to connect them with a REST mentor, who will model a healthy relationship and commit to being a regular part of their life.</p>
		</div>
		<div class="column col-xs-12 col-md-4">
			<h3>Intervention</h3>
			<p>Direct outreach teams build relationships with girls and women actively in the sex trade. Teams are out on the streets both in mornings and afternoons. The goal is to be a consistent presence that offers help and hope. We want to dream with them of a life free from sexual exploitation and help them take next steps toward counseling, sobriety, education, or housing.</p>
		</div>
		<div class="column col-xs-12 col-md-4">
			<h3>Restoration</h3>
			<p>Rounding out our continuum of care is aftercare. We offer trauma-informed, strengths-based case management, mentorship, long-term residential housing (ages 18-24 single or with children), and soon a 24-hour emergency shelter both of which have been specifically designed for those exploited for commercial sex. REST also provides mentorship for clients seeking additional support.</p>
		</div>
	</div>

<!-- 	<div class="row double">
		<div class="column col-xs-12 col-md-7 quote">
			<h2><span>"</span>I am alive today because of this care and perserverance."</h2><p>- Victoria, 17</p>
		</div>
		<div class="column col-xs-12 col-md-5 ">
			<img class="offset" src="http://cdn2.dropmark.com/39456/d08b858b2a0356c471c9137e86cf9e0f3e81b0ad/rest_bw-388.jpg">
		</div>
	</div> -->

	<div class="row">
		<div class="column col-xs-12 col-md-6 ">
			<h2>Men</h2>
		</div>
	</div>

	<div class="row">
		<div class="column col-xs-12 col-md-4">
			<h3>Demand</h3>
			<p>At the root of commercial sexual exploitation lies the lustful and broken hearts of men who drive the demand. In order for systemic transformation to occur in our culture, the hearts of men have to change. Men have to want something different. REST knows that resources and relationships are key to cultivating this kind of revival in our community and beyond.</p>
		</div>
		<div class="column col-xs-12 col-md-4">
			<h3>Relationships</h3>
			<p>Our demand reduction team invites sex buyers seeking change to a supportive community where freedom from unwanted sexual behavior can be found. Because much of sexual sin and addiction is built and thrives in isolation,  transparency and accountability are paramount. Our hope is for meaningful and sustained transformation. <a href="mailto:edward@iwantrest.com">Email us</a>.</p>
		</div>
		<div class="column col-xs-12 col-md-4">
			<h3>Resources</h3>
			<p>REST is in the process of developing a comprehensive online network of resources and relationships for sex buyers and men who are experiencing other unwanted sexual behavior. We know many men desire change, but may not know where to look for help. We want them to know they are not alone and there is hope for change.</p>
		</div>
	</div>

</section>

{% endblock %}
