{% extends "layout.html" %}

{% block content %}

<section class="values">

	<div class="featphoto"></div>

	<div class="row noHeading">
	  <div class="col-xs-12">
	    <div class="line"></div>
			<h1>Our Values</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h2>Our Values</h2>
			<p>Our values are our attempt to articulate our identity, and to define the manner in which we approach our work. Our values are about how we view all people, in particular, our clients, and our motivation for why we do what we do.</p>

		</div>
	</div>

	<div class="row">
<!-- 		<div class="col-xs-12">
			<div class="row"> -->
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>ONE:ONE OVER MANY</h3>
					<p>There are many ways to join anti-human trafficking efforts, such as through awareness, education, legislation, etc. Though these efforts are necessary and vital, today, people are suffering the consequences of sexual exploitation and addiction who need hope for real and lasting change. Therefore, we bring care to the individual through direct one-to-one contact.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>ARDUOUS OVER EFFORTLESS</h3>
					<p>Due to the nature of our approach, we know this is a long- suffering and painful work. We know not all people are called to this approach, but we are certain this is our purpose. We meet clients where they are and walk with them to the end. Relationships are hard work, but the highlights of joy throughout outweigh the suffering found within.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>PEOPLE OVER CAUSE</h3>
					<p>We do not fight for a cause or an ideology. Though we have an ideology and are a part of a cause, it’s not why we’re here. We exist to serve suffering people who experience complex emotions. They are people of great value.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>PERSONS OVER PEOPLE</h3>
					<p>In a more nuanced sense, we serve individuals. We get to know them by name and spend time with each one. We learn about their hopes and dreams. This is not a factory and they are not products on an assembly line. We care for each one according to their individualized need.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>HELPERS OVER HEROES</h3>
					<p>The narrative surrounding the sex trade is often one of villains and heroes. The heroes are rescuers, and the villains are the traffickers and johns. We’ve learned it’s not that black and white. We are not rescuers. We are not better or more valuable than those we serve.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>HOLISTIC OVER PIECEMEAL</h3>
					<p>We’re in this till the end. As far as they are willing to walk, we will be with them. We don’t just want clients physically out of the sex trade; we want them to be whole, free from fears and filled with hope and dreams.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>Women & Men</h3>
					<p>We serve both men and women. Those enslaved in the sex trade include those being exploited for sex, those soliciting commercial sex, and those profiting off the commercial exploitation of others. Like us, they are not all without fault, and some are more guilty than others, but they all need redemption.</p>
				</div>
				<div class="column col-xs-12 col-md-4 aValue">
					<h3>FOR OUR JOY & HIS GLORY</h3>
					<p>Our chief end is His glory and the joy of those serving and those being served.</p>
				</div>
<!-- 			</div>
		</div> -->
	</div>

	<div class="row noTop">
		<div class="col-xs-12">
			<p class="underlined back"><a href="{{ siteUrl }}team">Back to Our Team</a></p>	
		</div>
	</div>

</section>

{% endblock %}
